<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <style>
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        a {
            color: #5D6975;
            text-decoration: underline;
        }

        body {
            position: relative;
            width: 18cm;
            height: 29.7cm;
            margin: 0 auto;
            color: #001028;
            background: #FFFFFF;
            font-family: Arial, sans-serif;
            font-size: 12px;
            font-family: Arial;
        }

        header {
            padding: 10px 0;
            margin-bottom: 30px;
        }

        #logo {
            text-align: center;
            margin-bottom: 10px;
        }

        #logo img {
            width: 90px;
        }

        h1 {
            border-top: 1px solid  #5D6975;
            border-bottom: 1px solid  #5D6975;
            color: #5D6975;
            font-size: 2.4em;
            line-height: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 0 0 20px 0;
            background: url(dimension.png);
        }

        #project {
            float: left;
        }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 52px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

        #company {
            float: right;
            text-align: right;
        }

        #project div,
        #company div {
            white-space: nowrap;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
        }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 5px 20px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
        }

        table .service,
        table .desc {
            text-align: left;
        }

        table td {
            padding: 20px;
            text-align: right;
        }

        table td.service,
        table td.desc {
            vertical-align: top;
        }

        table td.unit,
        table td.qty,
        table td.total {
            font-size: 1.2em;
        }

        table td.grand {
            border-top: 1px solid #5D6975;;
        }

        #notices .notice {
            color: #5D6975;
            font-size: 1.2em;
        }

        footer {
            color: #5D6975;
            width: 100%;
            height: 30px;
            position: absolute;
            bottom: 0;
            border-top: 1px solid #C1CED9;
            padding: 8px 0;
            text-align: center;
        }
    </style>
</head>
<body>
<header class="clearfix">
    <div id="logo">
        Logo
    </div>
    <h1>SuperAtelier</h1>
    <div>
        <div style="float: left">
            <div><span>N° Facture :</span> {{ reservation.orderNumber }}</div>
            <div><span>Client :</span> {{ reservation.user.firstName }} {{ reservation.user.lastName }}</div>
            <div><span>Adresse :</span> {{ reservation.user.adress }} {{ reservation.user.zipCode }}, {{ reservation.user.city }}</div>
            <div><span>Email :</span> <a href="mailto:{{ reservation.user.email }}">{{ reservation.user.email }}</a></div>
            <div><span>Date de facturation :</span> {{ reservation.reservedAt|date('d-m-Y') }}</div>
        </div>
        <div style="float: right">
            <div>Super Atelier</div>
            <div>Adresse SuperAtelier</div>
            <div>Numéro SuperAtelier</div>
            <div><a href="mailto:contact@super-atelier.com">contact@super-atelier.com</a></div>
        </div>
    </div>

</header>
<main>
    <table>
        <thead>
        <tr>
            <th class="service">Référence</th>
            <th class="desc">Quantité</th>
            <th>Prix</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="service">{{ reservation.workshopDate.event.title }}<br>Date et lieu :<br>le {{ reservation.workshopDate.startAt|date('d/m/Y') }}<br>à l'adresse {{ reservation.workshopDate.event.user.adress }} {{ reservation.workshopDate.event.user.zipCode }}, {{ reservation.workshopDate.event.user.city }}</td>
            <td class="desc">1</td>
            <td class="unit">{{ reservation.workshopDate.event.price }}€</td>
            <td class="total">{{ reservation.workshopDate.event.price }}€</td>
        </tr>
        <tr>
            <td colspan="3">Sous-total</td>
            <td class="total">{{ reservation.workshopDate.event.price }}€</td>
        </tr>
        <tr>
            <td colspan="3" class="grand total">TOTAL</td>
            <td class="grand total">{{ reservation.workshopDate.event.price }}€</td>
        </tr>
        </tbody>
    </table>
    <div id="notices">
        <div>Remarque :</div>
        <div class="notice">TVA Non applicable, art. 293 B du CGI</div>
    </div>
</main>
<footer>
    Invoice was created on a computer and is valid without the signature and seal.
</footer>
</body>
</html>