{% extends 'base.html.twig' %}

{% block body %}
     <section class="hero_in general start_bg_zoom" style="background-image:url({{ asset('img/atelier-pain.jpg') }});background-position:bottom;background-repeat:no-repeat;background-attachment:fixed;background-size:cover">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp animated"><span></span>Connexion / Inscription</h1>
            </div>
        </div>
    </section>

    <div class="bg_color_1">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-8">
                    <div class="box_cart">
                        <div class="form_title">
                            <h3><strong>1</strong>Compte</h3>

                        </div>
                        <div class="step mt-3 border-right">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            <h4>Je ne possède pas de compte</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.firstName) }}
                                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                        <small style="color:red">{{ form_errors(form.firstName) }}</small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.lastName) }}
                                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                        <small style="color:red">{{ form_errors(form.lastName) }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        <small style="color:red">{{ form_errors(form.email) }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.password.first) }}
                                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.password.second) }}
                                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <small style="color:red">{{ form_errors(form.password.first) }}</small>
                                    <small style="color:red">{{ form_errors(form.password.second) }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        {{ form_label(form.adress) }}
                                        {{ form_widget(form.adress, {'attr': {'class': 'form-control'}}) }}
                                        <small style="color:red">{{ form_errors(form.adress) }}</small>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_label(form.zipCode) }}
                                        {{ form_widget(form.zipCode, {'attr': {'class': 'form-control'}}) }}
                                        <small style="color:red">{{ form_errors(form.zipCode) }}</small>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{ form_label(form.city) }}
                                        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                        <small style="color:red">{{ form_errors(form.city) }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-options clearfix">
                                <div class="float-right fix_mobile">
                                    <button type="submit" class="btn_1 outline">S'inscrire</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4" id="login">
                    <div class="form_title mt-5"></div>
                    <h4>Je possède déjà un compte</h4>

                    {{ include('front/inc/login_form.html.twig') }}

                </div>
            </div>
            <!--End step -->
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
{% endblock %}
