{% extends 'base.html.twig' %}

{% block body %}

    <section class="hero_in general start_bg_zoom" style="background-image:url({{ asset('img/atelier-pain.jpg') }});background-position:bottom;background-repeat:no-repeat;background-attachment:fixed;background-size:cover">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp animated"><span></span>Paiement de la réservation</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->

    <div class="bg_color_1">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-8">
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                        <div class="box_cart">
                            <div class="form_title">
                                <h3>Paiement par PayPal</h3>
                            </div>
                            <div class="step mt-3">
                                <div class="form-group">
                                    <div id="paypal-button-container"></div>
                                </div>
                            </div>
                        </div>
                </div>
                <aside class="col-lg-4" id="sidebar">
                    <div class="box_detail">
                        <div id="total_cart">
                            Total <span class="float-right">{{ gift.amount }}€</span>
                        </div>
                        <div class="cart_details">
                            Validité :<span> Votre carte cadeau sera valable un an à partir d'aujourd'hui</span>
                        </div>
                        <div class="text-center"><small> </small></div>
                    </div>
                </aside>
            </div>
            <!--End step -->
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="https://www.paypal.com/sdk/js?client-id=AUbcq9erAiBeHGCga3RDbso-tWKX8xh0qxaAeGbKOY2XtA0BuIb96WY1LAb1f_YBjex-c4JLw2IfPW3x&currency=EUR"></script>
<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: "{{ gift.amount|number_format(2, '.') }}"
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {

          if (details.status === "COMPLETED") {
              $.ajax({
                    type: "POST",
                    url: "{{ path('front_gift_payment_paypal') }}",
                    data: details,
                    success: function(response) {
                        if (response.response === 'statusOK') {
                            document.location.href="{{ path('front_gift_success') }}";
                        }
                    },
                    error: function() {
                        alert('Error');

                    }
                });
          }

      });
    }
  }).render('#paypal-button-container');

</script>
{% endblock %}
