{% extends 'base.html.twig' %}

{% block title %}PassionAtelier - une expérience inoubliable{% endblock %}
{% block description %}PassionAtelier propose des ateliers de tout type, réservez dès maintenant votre place pour participer. Vous êtes une entreprise ? créez votre atelier et transmettez votre passion à d'autres !{% endblock %}

{% block body %}
    <section class="hero_single version_2" style="background-image:url({{ asset('img/passionatelier-atelier-patisserie.jpg') }});background-position:bottom;background-repeat:no-repeat;background-attachment:fixed;background-size:cover">
        <div class="wrapper">
            <div class="container">
                <h3>Découvrez et réservez votre expérience</h3>

                {{ include('front/inc/searchbar.html.twig') }}

            </div>
        </div>
    </section>

    <!-- Sign In Popup -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="small-dialog-header">
            <h3>Connexion</h3>
        </div>
        <p>Merci pour votre inscription ! vous pouvez maintenant vous connecter.</p>
        <form method="post">
            <div class="sign-in-wrapper">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="mail" id="mail" required>
                    <i class="icon_mail_alt"></i>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" id="password" value="" required>
                    <i class="icon_lock_alt"></i>
                </div>
                <div class="clearfix add_bottom_15">
                    <div class="checkboxes float-left">
                    </div>
                    <div class="float-right mt-1"><a id="forgot" href="">Mot de passse oublié ?</a></div>
                </div>
                <div class="text-center"><input type="submit" value="Se connecter" class="btn_1 full-width"></div>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </form>
        <!--form -->
    </div>

    <!-- /hero_single -->
    <div class="container margin_80_55" style="margin-top:-130px;">
        <div class="row">
            {% for category in categories %}
            <div class="col-md-2 p-0 m-auto">
                <a class="box_feat mb-0" style="{% if category.name|length >= 13 %}padding-left:10px;padding-right:10px;padding-bottom:35px;{% endif %}"
                   href="{{ path('front_event_category', {'slug': category.slug}) }}">
                    <img class="{{ category.slug }}" style="width:70px;height:70px;margin-bottom:20px" src="{{ asset( constant('App\\Services\\File\\UploadFile::ICON_UPLOAD_DIR')) ~ category.icon }}">
                    <h3 style="{% if category.name|length >= 13 %}font-size:1em;{% endif %}">{{ category.name }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
        <!--/row-->
    </div>

    <div class="container margin_60_35">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Comment ça marche ?</h2>
        </div>
        <div class="row">
            <div class="col-lg-5 wow animated" data-wow-offset="150" style="visibility: visible;">
                <figure class="block-reveal">
                    <div class="block-horizzontal"></div>
                    <img src="{{ asset('img/cuisine-pate.jpg') }}" style="max-height:520px;float:right" class="img-fluid" alt="">
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 p-0">
                        <a class="box_topic mb-0" href="#0" style="min-height:260px">
                            <span style="font-size:8em;position:absolute;font-family:'Timmons';bottom:90px;left:50px;color:#802826">1</span>
                            <i class="pe-7s-mouse" style="color:#802826;background-color:rgba(255,222,173,0.5)"></i>
                            <p>Choisissez votre thème d'activité</p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 p-0">
                        <a class="box_topic mb-0" href="#0" style="min-height:260px">
                            <span style="font-size:8em;position:absolute;font-family:'Timmons';bottom:90px;left:50px;color:#802826">2</span>
                            <i class="pe-7s-home" style="color:#802826;background-color:rgba(255,222,173,0.5)"></i>
                            <p>Réservez un atelier près de chez vous</p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 p-0">
                        <a class="box_topic mb-0" href="#0" style="min-height:260px">
                            <span style="font-size:8em;position:absolute;font-family:'Timmons';bottom:90px;left:50px;color:#802826">3</span>
                            <i class="pe-7s-credit" style="color:#802826;background-color:rgba(255,222,173,0.5)"></i>
                            <p>Payez directement en ligne</p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 p-0">
                        <a class="box_topic mb-0" href="#0" style="min-height:260px">
                            <span style="font-size:8em;position:absolute;font-family:'Timmons';bottom:90px;left:50px;color:#802826">4</span>
                            <i class="pe-7s-like2" style="color:#802826;background-color:rgba(255,222,173,0.5)"></i>
                            <p style="margin-bottom:8px;">Notez et laissez un commentaire sur votre expérience</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>

    <div class="container container-custom margin_80_0">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>La sélection PassionAtelier</h2>
        </div>
        <div id="reccomended" class="owl-carousel owl-theme">
            {% for event in topEvents %}
                <!-- /item -->
                <div class="item">
                    <div class="box_grid">
                        <figure>
                            <a href="#0">{{ event.eventType.name }}</a>
                            <a href="{{ path('front_event_single', {'id': event.id, 'category': event.eventType.slug, 'slug': event.slug}) }}"><img src="{{ asset( constant('App\\Services\\File\\UploadFile::IMAGE_UPLOAD_DIR')) ~ event.firstPhoto.url }}" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Voir</span></div></a>
                            <small>{{ event.eventType.name }}</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="{{ path('front_event_single', {'id': event.id, 'category': event.eventType.slug, 'slug': event.slug}) }}">{{ event.title }}</a></h3>
                            <p>{{ event.description|slice(0, 90) ~ '...' }}</p>
                            <span class="price"><strong>{{ event.price }}€</strong> /par personne</span>
                        </div>
                        <ul>
                            <li><i class="icon_clock_alt"></i>{% if event.getFirstWorkshopDates %}{{ event.getFirstWorkshopDates.duration }}{% endif %}</li>
                            <li><div class="score">{% if event.note %}<span>Note<em></em></span><strong>{{ event.note }}</strong>{% else %}<span>Aucune note</span>{% endif %}</div></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <!-- /item -->
        </div>
        <!-- /carousel -->
        <p class="btn_home_align"><a href="{{ path('front_search_event') }}" class="btn_1 rounded">Voir Tout</a></p>
        <hr class="large">
    </div>
    <!-- /container -->

    <div class="call_section" style="background:url({{ asset('img/fille-cuisine.jpg') }}) center center no-repeat fixed;background-size:cover;">
        <div class="container clearfix">
            <div class="col-lg-5 col-md-6 float-left wow" data-wow-offset="250">
                <div class="block-reveal">
                    <div class="block-vertical"></div>
                    <div class="box_1">
                        <h3>A la recherche d'un cadeau originale ?</h3>
                        <p>Si vous êtes à la recherche d'un cadeau originale et exclusif, vous êtes au bon endroit !</p>
                        <a href="{{ path('front_gift_choice_gift') }}" class="btn rounded" style="background:white;color:#802826"><i class="pe-7s-gift" style="font-size:1.2em;font-weight:bold"></i> Offrir un cadeau</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if topCategories is not empty %}
    <div class="container container-custom margin_30_95">
        <section class="add_bottom_45">
            <div class="main_title_3">
                <span><em></em></span>
                <h2>{{ topCategories[0][0].name }}</h2>
                <p>{{ topCategories[0].countEvents }} ateliers</p>
            </div>
            <div class="row">
                {% for event in topCategories[0][0].events %}
                    {% if loop.index < 5 %}
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <a href="{{ path('front_event_single', {'id': event.id, 'category': event.eventType.slug, 'slug': event.slug}) }}" class="grid_item">
                                <figure>
                                    {% if event.note %}<div class="score"><strong>{{ event.note }}</strong></div>{% endif %}
                                    <img src="{{ asset( constant('App\\Services\\File\\UploadFile::IMAGE_UPLOAD_DIR')) ~ event.firstPhoto.url }}" alt="{{ event.title }} {% if event.user %}à {{ event.user.city }}{% endif %}">
                                    <div class="info">
                                        <div class="cat_star">
                                            {% for i in range(1, event.note) %}
                                                {% if event.note != 0 %}
                                                <i class="icon_star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <h3>{{ event.title }}</h3>
                                    </div>
                                </figure>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- /grid_item -->
            </div>
            <!-- /row -->
            <a href="{{ path('front_event_category', {'slug': topCategories[0][0].slug}) }}"><strong>Voir tout les ateliers <i class="arrow_carrot-right"></i></strong></a>
        </section>
        <!-- /section -->

        <section class="add_bottom_45">
            <div class="main_title_3">
                <span><em></em></span>
                <h2>{{ topCategories[1][0].name }}</h2>
                <p>{{ topCategories[1].countEvents }} atelier{{ (topCategories[1].countEvents > 1) ? 's' : '' }}</p>
            </div>
            <div class="row">
                {% for event in topCategories[1][0].events %}
                    {% if loop.index < 5 %}
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <a href="{{ path('front_event_single', {'id': event.id, 'category': event.eventType.slug, 'slug': event.slug}) }}" class="grid_item">
                                <figure>
                                    {% if event.note %}<div class="score"><strong>{{ event.note }}</strong></div>{% endif %}
                                    <img src="{{ asset( constant('App\\Services\\File\\UploadFile::IMAGE_UPLOAD_DIR')) ~ event.firstPhoto.url }}" alt="{{ event.title }} {% if event.user %}à {{ event.user.city }}{% endif %}">
                                    <div class="info">
                                        <div class="cat_star">
                                            {% for i in range(1, event.note) %}
                                                {% if event.note != 0 %}
                                                    <i class="icon_star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <h3>{{ event.title }}</h3>
                                    </div>
                                </figure>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- /row -->
            <a href="{{ path('front_event_category', {'slug': topCategories[1][0].slug}) }}"><strong>Voir tout les ateliers <i class="arrow_carrot-right"></i></strong></a>
        </section>
        <!-- /section -->

        <section class="add_bottom_45">
            <div class="main_title_3">
                <span><em></em></span>
                <h2>{{ topCategories[2][0].name }}</h2>
                <p>{{ topCategories[2].countEvents }} atelier{{ (topCategories[2].countEvents > 1) ? 's' : '' }}</p>
            </div>
            <div class="row">
                {% for event in topCategories[2][0].events %}
                    {% if loop.index < 5 %}
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <a href="{{ path('front_event_single', {'id': event.id, 'category': event.eventType.slug, 'slug': event.slug}) }}" class="grid_item">
                                <figure>
                                    {% if event.note %}<div class="score"><strong>{{ event.note }}</strong></div>{% endif %}
                                    <img src="{{ asset( constant('App\\Services\\File\\UploadFile::IMAGE_UPLOAD_DIR')) ~ event.firstPhoto.url }}" alt="{{ event.title }} {% if event.user %}à {{ event.user.city }}{% endif %}">
                                    <div class="info">
                                        <div class="cat_star">
                                            {% for i in range(1, event.note) %}
                                                {% if event.note != 0 %}
                                                    <i class="icon_star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <h3>{{ event.title }}</h3>
                                    </div>
                                </figure>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- /row -->
            <a href="{{ path('front_event_category', {'slug': topCategories[1][0].slug}) }}"><strong>Voir tout les ateliers <i class="arrow_carrot-right"></i></strong></a>
        </section>
        <!-- /section -->
    </div>
    <!-- /container -->
    {% endif %}

    <div class="call_section" style="background:url({{ asset('img/atelier-cuisine.jpg') }}) center center no-repeat fixed;background-size:cover;">
        <div class="container clearfix">
            <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
                <div class="block-reveal">
                    <div class="block-vertical"></div>
                    <div class="box_1">
                        <h3>Partagez votre passion !</h3>
                        <p>Vous aussi, créez votre atelier et transmettez votre passion. Des dizaines de thématiques vous permettent de vous lancer facilement.</p>
                        <a href="{{ path('event_security_subscription_step1') }}" class="btn rounded" style="background:white;color:#802826">Je commence</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

